.cardContainer {
    width: 25.1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #14B1AB;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: -1px 1px 2px 1px black;
    img {
        width: 150px;
        max-height: 100px;
        margin: 5px 0;
    }

    .cardStatsContainer {
        width: 95%;
        p {
            display: flex;
            justify-content: space-between;
        }
    }
}