@import "./../mixins";

.bar-holder {
    display:inline-block;
    height: 30px;
    width: 150px;
    background-color: rgb(202, 199, 199);
    border-radius: 2px;
    
    .bar-filled {
        border-radius: 2px;
        height: 100%;
        @include displayFlex($align: center, $justify: center);

        &-attack {         
            background-color: #FC5603;
        }

        &-defense {
            background-color: #036FFC ;
        }

        &-speed {
            background-color: #F5ED0C;
        }

        &-special-defense {
            background-color: #144687 ;
        }

        &-special-attack {
            background-color: #B0440E;
        }

        &-hp {
            background-color: #F80012;
        }

        &-power {
            background-color: #d44e57;
        }

        &-accuracy {
            background-color: #2971dd;
        }
    }


}