.bar-holder {
    display:inline-block;
    height: 30px;
    width: 150px;
    background-color: rgb(216, 212, 212);
    border-radius: 2px;
    
    .bar-filled {
        border-radius: 2px;
        height: 100%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &-attack {         
            background-color: #FC5603;
        }

        &-defense {
            background-color: #036FFC ;
        }

        &-speed {
            background-color: #F5ED0C;
        }

        &-special-defense {
            background-color: #144687 ;
        }

        &-special-attack {
            background-color: #B0440E;
        }

        &-hp {
            background-color: #F80012;
        }
    }


}