@mixin displayFlex ($display: flex, $justify: space-around, $align: center, $direction: row){
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// main {
//     position: relative;
//     overflow: auto;
    .mainContentSection {
        background: url("./../../img/vector-main-page.png") no-repeat;
        background-size: 100%;
        background-position: bottom;
        height: 112vh;

        .mainContentContainer {
            @include displayFlex($align: unset);

            .mainContentText {            
                color: #fff5d6;
                
                h2, p {
                    position: relative;
                    top: 20vh;                    
                }
                
                h2 {
                    font-size: 2rem;
                }

                p {
                    text-align: justify;
                    width: 70%;
                }
            }

            img {
                width:  50rem;
            }

        }
    }


// }


