@import "./../variables";
@import "./../mixins";

.mainContentSection {
    background: url("./../../img/vector-main-page.png") no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 112vh;

    .mainContentContainer {
        @include displayFlex($justify: space-around);

        .mainContentText {    
            h2, p {
                color: $lightYellow;
                position: relative;
                top: 20vh;                    
            }
                
            h2 {
                font-size: 2rem;
            }

            p {
                text-align: justify;
                width: 70%;
            }
        }

        img {
            width:  50rem;
        }

    }
}



