@import "./../variables";
@import "./../mixins";

header {
    height: 60px;
    width: 100%;
    color: $darkBlack;
    background-color: $primaryYellow;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.4);
    .navbar {    
        @include displayFlex($justify: space-between, $align: center);
        margin: 0 auto;
        height: 100%;
        width: 95%;

        .navbarContainer {  
            @include displayFlex($justify: space-around, $align: center);
            .navbarLogo {
                width: 50px;    
                background-color: #fff;
                border-radius: 50%;
            }    
            .navbarTitle {
                font-size: 1.2em;
                margin-left: 15px;
            }
        }

        .navbarList {
            @include displayFlex();
            list-style: none;

            a {
                text-decoration: none;
                color: $darkBlack;
                letter-spacing: 0.8px;            

                li {
                    position: relative;
                    margin-right: 15px;
                    cursor: pointer;
                    
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        opacity: 0;
                        transition: 200ms ease all;
                        border-bottom: 1px solid $darkBlack;                    
                    }
                    &:hover::after {
                        opacity: 1;
                    }
                }
            }   
        }
    }
}


