@import "./../mixins";
section {
    .pokemonListContainer {    
        @include displayFlex($justify: space-around, $wrap: wrap);
    }
    
    .pokemonPageLink {
        display: flex;
        width: 25.01%;
        text-decoration: none;
        color: #262626;
    }

    .loadingSpinnerContainer {
        position: relative;
        height: 60px;
        .loadingSpinner:before {                   
            content: "";
            position: absolute;
            left: 50%;        
            height: 60px;
            width: 60px;
            box-sizing: border-box;
            
            border-radius: 50%;
            border: 8px solid transparent;
            border-top-color: #14B1AB;
            border-bottom-color: #14B1AB;
            
            animation: spinner 700ms infinite ease;
        }
    }   
}    

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
